.village-card {
    width: 150px;
    height: 150px;
    margin: 10px 30px 10px 30px;
    background: #D1941A;
    clear: both;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlink__village-card {
    text-decoration: none;
}
/* .wrapper {
    width: 100%;
    padding-left: 300px;
} */

 .village-name {
  display: flex;
  align-items: center;
  margin: 0;
  width: 150px;
  height: 100px;
  text-align: center;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em;
  /* font-size: 16px; */
}
