header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1em;
  font-size: 1em;
}

.first-letter {
  font-size: 2.1em;
  font-family: 'Poiret One', cursive;
}

.app-title {
  color: #E88D22;
  font-size: 1.3em;
  font-family: 'Sarala', sans-serif;
}

.app-mission, .app-title {
  margin: 0;
}

.app-mission {
  font-weight: 400;
}

.navigation-bar {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex: 5;
  height: 4.5em;
  margin-right: 0.5em;
}


.start-village-btn, .my-events-btn, .my-account-btn, .my-dashboard-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: .3em;
}

/* .start-village-btn, .my-events-btn, .my-account-btn: cursor {
  text-decoration: underline;
} */
