header {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 1em;
  font-size: 1em;
}

.first-letter {
  font-size: 2.1em;
  font-family: 'Poiret One', cursive;
}

.app-title {
  color: #E88D22;
  font-size: 1.3em;
  font-family: 'Sarala', sans-serif;
}

.app-mission, .app-title {
  margin: 0;
}

.app-mission {
  font-weight: 400;
}
