.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-right: 40px;
  width: 600px;
  height: 500px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.95);
}

.form-container > button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -20px;
}

form {
  display: grid;
  grid-template-columns: 120px 350px;
  color: black;
  height: 400px;
}

.close-btn {
  padding-right: 6px;
  padding-bottom: 8px;
  align-self: flex-end;
  background-color: transparent;
  border: 0px;
  color: #E8902D;
  cursor: pointer;
  font-size: 20px;
  border: 0px;
}

.name-label, .date-label, .time-label, .adult-label {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  grid-column: 1;
  font-weight: bold;
  color: #E8902D;
  margin-right: 15px;
}


.name-label {
  grid-row: 1;
}

.date-label {
  grid-row: 2;
}

.time-label {
  grid-row: 3;
}

.adult-label {
  display: flex;
  justify-content: flex-start;
  grid-row: 4;
}

.description-label {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  grid-row: 5;
  grid-column: 1;
  font-weight: bold;
  color: #E8902D;
  margin-right: 15px;
}

.name-input, .date-input, .time-input, .description-input {
  display: flex;
  align-self: center;
  grid-column: 2;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid #E8902D;
  color: #E8902D;
}

.name-input {
  grid-row: 1;
}

.date-input {
  grid-row: 2;
}

.time-input {
  grid-row: 3;
}

.yes-input {
  margin-top: 20px;
  grid-row: 4;
  grid-column: 2;
  color: #E8902D;
}

.no-input {
  margin-top: 40px;
  grid-row: 4;
  grid-column: 2;
  color: #E8902D;
}

.yes-label {
  margin-top: 15px;
  grid-row: 4;
  grid-column: 2;
  color: #E8902D;
  text-align: left;
  margin-left: 20px;
}

.no-label {
  margin-top: 35px;
  grid-row: 4;
  grid-column: 2;
  color: #E8902D;
  text-align: left;
  margin-left: 20px;
}

.description-input {
  grid-row: 5;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  grid-row: 7;
  grid-column: 2;
  background-color: rgb(255, 255, 255);
  border: 2px solid #E8902D;
  border-radius: 10px;
  color: #E8902D;
  cursor: pointer;
}

.error-msg {
  grid-row: 6;
  grid-column: 2;
  color: red;
  font-size: 10px;
  width: 300px;
}

.warning-msg {
  grid-row: 6;
  grid-column: 2;
  color: #E8902D;
  font-size: 14px;
  width: 300px;
}
span {
  color: red;
  font-size: 14px;
}
