.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-image:url("../assets/diverse-village.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  background-color: white;
}

* {
  font-family: 'Sarala', sans-serif;
}

/* font-family: 'Poiret One', cursive; */
