.village-member-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.15em;
  width: 16em;
  /* border: 2px solid blue; */
}
.added-villager-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}
.added-villagers {
  justify-content: center;
  flex-wrap: wrap;
  max-height: 28em;
  /* border: 2px solid black; */
}
