* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* use Apple's SF font or default to system fonts */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

}

body {
  min-height: 100vh;
}
